@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  background-attachment: fixed;
}
.restart {
  position: absolute;
  top: 0;
  left: 0;
}
/* ----- home page ----- */
main.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
main.home h1 {
  font-size: 125px;
  font-weight: 300;
  letter-spacing: 18px;
}
main.home button {
  padding: 10px 30px;
  font-size: 31px;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 3px;
  font-weight: 800;
  border-radius: 3px;
  box-shadow: 5px 5px 0 black;
  transition: transform 0.3s, box-shadow 0.25s;
}
main.home button:active {
  transform: translate(5px, 5px);
  box-shadow: 0 0 0 black;
}
main.home .info {
  width: 45px;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  transition: transform 0.3s;
}
main.home .info:active {
  transform: scale(0.9);
}

/* ----- gameplay ----- */

.gameplay {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gameplay .turn {
  margin: 50px auto;
  max-width: 100%;
  width: 1000px;
  border-radius: 5px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 5px 5px 0px #0000005c;
}
.gameplay .box {
  margin: 0 auto 3% auto;
  max-width: 100%;
  width: 1000px;
  display: flex;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 5px 5px 0px #0000005c;
}
.gameplay .box h1 {
  font-weight: 500;
}

.userCoins {
  display: flex;
}
.userCoins .coin {
  padding: 10px;
  filter: grayscale(1);
  cursor: pointer;
}
.userCoins > .coin {
  content: "O";
  filter: grayscale(1);
  cursor: pointer;
  font-size: 3em;
}

.userCoins:hover > .coin {
  filter: grayscale(0);
}
.userCoins > .coin:hover ~ .coin {
  filter: grayscale(1);
}
.userCoins .beat {
  padding: 10px;
  filter: grayscale(1);
  cursor: pointer;
}
.userCoins > .beat {
  content: "O";
  filter: grayscale(1);
  cursor: pointer;
  font-size: 3em;
}

.userCoins:hover > .beat {
  filter: grayscale(0);
}
.userCoins > .beat:hover ~ .beat {
  filter: grayscale(1);
}
.activecoin {
  filter: grayscale(0) !important;
}
.next {
  background-color: white;
  outline: none;
  border: none;
  max-width: 100%;
  width: 1000px;
  font-size: 26px;
  height: 56px;
  cursor: pointer;
  box-shadow: 5px 5px 0 #0000005c;
  transition: transform 0.3s, box-shadow 0.3s;
  font-weight: 500;
}
.next:active {
  transform: translate(5px, 5px);
  box-shadow: 0 0 0 #0000005c;
}
